@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	color: #dde0e5;
}

body{
	background-color: #0b131e;
	display: grid;
	place-items: center;
	min-height: 100vh;
}

.wrapper{
	--side-gap : max(1rem, 15px);

	display: flex;
	width: max(calc(100vw - var(--side-gap)), 300px);
	height: max(calc(100vh - var(--side-gap)), 200px);
	margin-inline: auto;
	gap: 1rem;

	.nav{
		background-color: #202b3b;
		flex-grow: 1;
		min-width: 80px;
		border-radius: 1rem;
	}

	.searchAndMain{
		flex-grow: 9;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		
		.search{
			background-color: #202b3b;
			width: max(66%, 200px);
			height: 50px;
			min-height: 25px;
			border-radius: 0.8rem;
		}

		.main{
			flex-grow: 1;
			display: grid;
			grid-template: 0.5fr 1fr 1fr / repeat(3, 1fr);
			gap: 1rem;

			& div{
				border-radius: 1rem;
			}
			
			& > div:not(.temp){
				background-color: #202b3b;
			}

			& > div:not(.weeklyForecast){
				grid-column: 1 / 3;
			}

			.weeklyForecast{
				grid-column: 3 ;
				grid-row: 1 / 4;
			}
		}
	}
}

.temp{
	--side-margin : 0rem;

	display: flex;
	
	& *{
		width: 70%;
		margin-left: auto;
	}

	.tempInfo{
		margin-left: var(--side-margin);
		flex-grow: 2;
		display: flex;
		flex-direction: column;
	
		& span{
			flex-grow: 1;
		}
		
		& h1{
			font-size: clamp(1.125rem, 0.727rem + 1.989vw, 2rem);
		}
		
		& p{
			font-size: clamp(0.625rem, 0.455rem + 0.852vw, 1rem);
			color: #9b9fa5;
		}
	}

	.img{
		margin-right: var(--side-margin);
		flex-grow: 1;
		display: flex;
		
		& img{
			height: 150px;
			min-height: 50px;
			align-self: center;
			margin-inline: auto;
		}
	}
}

.dailyForecast{
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	gap: 0.5rem;

	& p{
		text-transform: uppercase;
		font-size: clamp(0.375rem, 0.261rem + 0.568vw, 0.625rem);
		font-weight: 1000;
		letter-spacing: 0.1rem;
	}

	.info{
		flex-grow: 1;
		background-color: #dde0e5;
		margin-inline: 1rem;
	}
}
