@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	color: #dde0e5;
}

body{
	background-color: #0b131e;
	display: grid;
	place-items: center;
	min-height: 100dvh;
	min-height: 100vh;
}

#loader{
	position: fixed;
	top: 0;
	left: 0;
	width: 20vw;
	height: 5px;
	border-radius: 100vh;
	background-color: rgb(241, 241, 74);
	translate: -100% 0;
}

.loader{
	animation: load 2s linear infinite;
}


@keyframes load{
	to{
		translate: 600% 0;
	}
}

.wrapper{
	--side-gap : max(1rem, 15px);
	--gap : 0.5rem;

	width: max(calc(100dvw - var(--side-gap)), 300px);
	width: max(calc(100vw - var(--side-gap)), 300px);
	height: calc(100vh - var(--side-gap));
	
	display: flex;
	margin-inline: auto;
	gap: var(--gap);

	.nav{
		background-color: #202b3b;
		flex-grow: 1;
		min-width: 80px;
		border-radius: 1rem;
		
		.container{
			height: 65%;
			/* outline: solid 2px cyan; */
			margin-top: 1.5rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;
			
			.icon{
				width: 65%;
				aspect-ratio: 1;
				background-color: #35455e;
				overflow: hidden;
				padding: 0.3rem;
				border-radius: 0.8rem;
				margin-inline: auto;
			}
			
			.weather,
			.cities,
			.map,
			.settings{

				&:hover,
				&:focus{

					&  p{
						color: #dde0e5;
					}
				}

				& p{
					text-transform: capitalize;
					font-size: clamp(0.5rem, 0.423rem + 0.364vw, 0.75rem);
					letter-spacing: 0.1rem;
					color: #9b9fa5;
					font-weight: bold;
				}

				.icon{
					background-color: transparent;
				}
			}
		}
	}

	.searchAndMain{
		flex-grow: 9;
		display: flex;
		flex-direction: column;
		gap: var(--gap);
		
		
		.search{
			--border-radius : 0.8rem;

			width: max(66%, 200px);
			min-height: 50px;
			display: flex;
			position: relative;
			

			.pop-up{
				display: none;
				position: absolute;
				bottom: 0;
				right: 5%;
				translate: 0 105%;
				text-align: center;
				background-color: #353d47;
				border-radius: var(--border-radius);
				color: #ec542d;
				padding: 1rem;

				&::before{
					--border-width : 30px;

					content: "";
					position: absolute;
					height: 0;
					width: 0;
					border-right: solid var(--border-width) transparent;
					border-bottom: solid var(--border-width) #353d47;
					top: 0;
					right: 10%;
					scale: -1 1;
					translate: 0 -95%;
				}
			}
			
			& input:focus,
			.search_icon:focus{
				outline: solid 0.15rem rgba(255, 255, 255, 0.74);
				z-index: 1;
			}
			
			& input{
				flex-grow: 8;
				background-color: #202b3b;
				border: none;
				border-radius: var(--border-radius) 0 0 var(--border-radius);
				padding-inline: 1rem;
				font-size: clamp(0.625rem, 0.179rem + 1.19vw, 1.25rem);
	
				&::placeholder {
					color: rgb(218, 217, 217);
				}
			}	


			.search_icon{
				position: relative;
				display: grid;
				place-items: center;
				cursor: pointer;
				background-color: #121a27;
				border-radius: 0 var(--border-radius) var(--border-radius) 0;
				isolation: isolate;
				overflow: hidden;
				flex-grow: 2;

				&::before{
					content: '';
					position: absolute;
					background-color: #0e131b;
					width: 1px;
					aspect-ratio: 1;
					z-index: -1;
					border-radius: 50%;
				}

				&:hover,
				&:focus{

					&::before{
						transition: scale 1.3s;
						scale: 999;
					}
				}
				
				& img{
					height: 50%;
				}
			}
		}

		.main{
			flex-grow: 1;
			display: grid;
			grid-template: 1fr 0.9fr 0.7fr / repeat(3, 1fr);
			gap: var(--gap);

			& > div{
				border-radius: 1rem;
			}
			
			& > div:not(.temp){
				background-color: #202b3b;
			}

			& > div:not(.weeklyForecast){
				grid-column: 1 / 3;
			}

			.weeklyForecast{
				grid-column: 3 ;
				grid-row: 1 / 4;
			}
		}
	}
}

.temp{
	--side-margin : 0rem;

	display: flex;
	text-transform: capitalize;
	padding-block: 1rem;
	
	& *{
		width: 70%;
		margin-left: auto;
	}

	.tempInfo{
		margin-left: var(--side-margin);
		display: flex;
		flex-direction: column;
	
		& span{
			flex-grow: 1;
		}
		
		& h1{
			font-size: clamp(1.125rem, 0.727rem + 1.989vw, 2rem);
		}

		& h2{
			font-size: clamp(0.75rem, 0.536rem + 1.071vw, 1.5rem);
		}

		& h3{
			font-size: clamp(0.625rem, 0.236rem + 1.038vw, 1.17rem);
		}
		
		& p{
			font-size: clamp(0.625rem, 0.455rem + 0.852vw, 1rem);
			color: #9b9fa5;
		}
	}

	.img{
		margin-right: var(--side-margin);
		flex-grow: 1;
		display: flex;
		
		& img{
			width: 150px;
			min-height: 50px;
			align-self: center;
			margin-inline: auto;
		}
	}
}


.dailyForecast,
.weeklyForecast,
.airCondition{

	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 0.5rem;

	& p{
		text-transform: uppercase;
		font-size: clamp(0.5rem, 0.423rem + 0.364vw, 0.75rem);
		letter-spacing: 0.1rem;
		color: #9b9fa5;
	}

	.section-head{
		font-weight: bold;
	}


	& h3{
		font-size: clamp(0.625rem, 0.236rem + 1.038vw, 1.17rem);
	}
}


.weeklyForecast,
.dailyForecast{

	.info{
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		padding-inline: 1rem;

		.data{
			text-align: center;
			width: fit-content;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}

		& > div:not(.data){
			width: 1px;	
			background-color: #7373747c;
		}

		.img{
			display: grid;
			place-items: center;
			
			& img{
				width: 100%;
			}
		}
	}
}


.airCondition{

	.topSection{
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		.seeMore{
			background-color: #0095ff;
			border: none;
			padding: 0.1rem 0.5rem;
			border-radius: 100vh;
			font-weight: 1000;
		}
	}

	.bottomSection{
		height: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		& > div{
			display: flex;
			justify-content: center;
			align-items: center;
			gap: var(--gap);

			& div{
				height: 40%;
			}

			.icon{

				& img{
					display: block;
					margin-left: auto;
					height: 100%;
				}
			}

			.info{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
		}
	}
}

.weeklyForecast{

	& > p{
		text-align: center;
	}

	.info{
		flex-direction: column;
		
		.data{
			width: 100%;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
		}

		& > div:not(.data){
			width: 90%;
			margin-inline: auto;
			height: 1px;	
		}
	}
}